[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{ tower_admin_password }}'

pg_host='{{ tower_pg_hostname }}'
pg_port='{{ tower_pg_port }}'
pg_database='{{ tower_pg_database }}'
pg_username='{{ tower_pg_username }}'
pg_password='{{ tower_pg_password }}'

isolated_key_generation=true
