{% set ns = namespace(found=false) %}
{% for result in tower_resources_results %}
{% set object = result[result.ansible_loop_var] %}
{% if object.galaxy_credentials is defined %}
{% for galaxy_credential in object.galaxy_credentials %}
{% set ns.found = true %}
- target_name: {{ object.name }}
  target_id: {{ result.id }}
  target_type: {{ result.type }}
  name: {{ galaxy_credential.name }}
  state: {{ galaxy_credential.state }}
{% endfor %}
{% endif %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
