{% set ns = namespace(found=false) %}
{% for result in tower_resources_results %}
{% set object = result[result.ansible_loop_var] %}
{% if object.virtualenv is defined %}
{% set ns.found = true %}
- target_name: {{ object.name }}
  target_id: {{ result.id }}
  target_type: {{ result.type }}
  virtualenv: {{ object.virtualenv }}
{% endif %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
