{% set ns = namespace(found=false) %}
{% for result in tower_resources_results %}
{% set object = result[result.ansible_loop_var] %}
{% if object.survey_spec is defined %}
{% set ns.found = true %}
- target_name: {{ object.name }}
  target_id: {{ result.id }}
  target_type: {{ result.type }}
  survey_spec: {{ object.survey_spec }}
{% endif %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
