{%- if tower_version is defined
    and tower_get_releases_result  is undefined
    and tower_artifact is undefined %}
{{ tower_version }}
{%- endif %}
{%- if tower_get_releases_result is defined %}
{%- set file = tower_get_releases_result.content.splitlines()
                 | reject("search", "ansible-tower-setup-bundle-latest")
                 | select("search", tower_package_regexp)
                 | list
                 | last %}
{{ file | regex_replace(".*>ansible-tower-setup-bundle-([0-9.-]+)\.el.\.tar.gz<.*", "\\1") }}
{%- endif %}
{%- if tower_artifact is defined %}
{%- set file = tower_artifact.file %}
{{ file | regex_replace("ansible-tower-setup-bundle-([0-9.-]+)\.el.\.tar.gz", "\\1") }}
{%- endif %}
